## Assignment 2 - Part 1
* Topics: pandas and numpy

## Question 1
* sklearn has the iris dataset built in
* this is what we will be working with
* put the iris data into a dataframe where we have 5 columns (the 4 features and the target)
* but the target shouldn't be numerical, it should be the actual label (so put setosa not 0 in the target column)

In [173]:
from sklearn.datasets import load_iris
import pandas as pd
import numpy as np

iris = load_iris()

In [174]:
feature_names = iris.feature_names
features = pd.DataFrame(iris.data, columns = feature_names)
#target = pd.DataFrame(iris.target, columns = ['target'])
target = iris.target
target_names = iris.target_names

In [175]:
new_list = []
for i in target:
    if i == 0:
        new_list.append(target_names[0])
    elif i == 1:
        new_list.append(target_names[1])
    elif i == 2:
        new_list.append(target_names[2])

In [176]:
target = pd.DataFrame(new_list, columns = ['target'])

In [177]:
iris_dataframe = pd.concat([features, target],  axis = 1)
iris_dataframe.head(5)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

## Question 2
* using the data array from the iris variable (should be a numpy array of size 150x4), for each row and column, find the sum, min and max
* print out the results, but for the rows, show only the first 5 elements of the array and display the length (otherwise it will be large arrays since each row has a value)

In [208]:
iris.data.shape

numpy.ndarray

In [184]:
#rows
print(iris.data.sum(axis = 1)[0:5], iris.data.min(axis = 1)[0:5], iris.data.max(axis = 1)[0:5], iris.data.shape[0])

[10.2  9.5  9.4  9.4 10.2] [0.2 0.2 0.2 0.2 0.2] [5.1 4.9 4.7 4.6 5. ] 150

In [185]:
#columns
print(iris.data.sum(axis = 0), iris.data.min(axis = 0), iris.data.max(axis = 0), iris.data.shape[1])

[876.5 458.6 563.7 179.9] [4.3 2.  1.  0.1] [7.9 4.4 6.9 2.5] 4

## Question 3
* write a function to return the multiplication of two matrices
* use some sort of error handling to make sure the dimensions are compatible
* use the function to multiply the iris data (don't use the label column) by it's transpose
* what are the dimensions of the result
* put the sum of each row of the resulting matrix into a vector, printing out the length and first 5 elements.
* put the sum of each column of the resulting matrix in a vector and print it out.

In [8]:
def matrix_multiply(a, b):
    assert a.shape[1] == b.shape[0], 'dimensions of matrix do not allow for multiplication'
    
    result = a@b    
    return result

In [9]:
iris.data.shape, iris.data.T.shape

((150, 4), (4, 150))

In [10]:
newmatrix = matrix_multiply(iris.data, iris.data.T)
newmatrix.shape

(150, 150)

In [11]:
#double check
row_vector = newmatrix.sum(axis = 1)
print('The length of the vector is: {}. The first 5 elements are: {}'.format(len(row_vector), row_vector[0:5]))

The length of the vector is: 150. The first 5 elements are: [6900.41 6495.81 6355.86 6335.09 6858.62]

In [12]:
#col_vector = list(map(lambda x: x.sum(axis = 0), newmatrix)) 
col_vector = newmatrix.sum(axis = 0)
print(col_vector)

[ 6900.41  6495.81  6355.86  6335.09  6858.62  7551.89  6434.29  6823.27
  6011.7   6580.05  7311.45  6704.34  6390.17  5782.81  7630.52  7931.4
  7326.41  6918.4   7750.99  7112.35  7286.61  7084.48  6282.54  7031.77
  6873.45  6696.2   6915.62  7044.43  6942.2   6524.97  6566.76  7209.85
  7301.6   7572.03  6598.04  6562.44  7194.64  6752.98  6001.19  6910.92
  6774.38  5785.81  6092.91  6997.46  7355.82  6426.15  7150.73  6324.58
  7223.8   6721.04 10504.27  9883.62 10501.49  8364.2   9844.2   9050.65
  9972.56  7435.6   9941.73  8246.31  7452.55  9184.54  8702.62  9577.84
  8501.53 10026.35  9090.7   8812.99  9249.72  8451.22  9668.45  9119.4
  9700.43  9496.    9597.32  9892.84 10201.9  10372.68  9395.44  8341.26
  8261.34  8186.98  8736.23  9659.93  8915.4   9642.73 10213.45  9290.88
  8829.24  8455.92  8709.27  9567.33  8746.74  7477.39  8748.03  8955.27
  8927.4   9422.02  7505.64  8825.17 10867.28  9538.6  11302.57 10332.43
 10738.29 12135.41  8283.83 11603.52 10612.33 11850.08 10399.44 10177.24
 10814.14  9320.85  9674.41 10478.5  10497.22 12664.3  12244.71  9356.27
 11142.23  9314.41 12169.72  9846.12 10976.81 11484.34  9747.96  9808.4
 10428.19 11243.9  11550.56 12634.51 10446.18  9950.75  9947.59 11977.19
 10669.67 10455.43  9664.38 10891.28 10882.69 10758.15  9538.6  11167.32
 11048.77 10593.36  9828.76 10364.09 10451.29  9745.84]

## Question 4
* create a subset of the iris dataframe that doesn't have the label column
* for each row, find the index of the min and max feature value
    * if we have a row with values [10,2,3,4] we want to return 1 for min and 0 for max, as these are the indicies that align to the min and max values
* the result should be two arrays of length 150 (one for each row) with the indices of the min and max value

In [227]:
iris_subset = iris_dataframe.iloc[:,0:4]
array = iris_subset.values
min_max = [(np.argmin(i, axis = 0), np.argmax(i,axis = 0)) for i in array]

min_rows_index = np.argmin(array, axis = 1)
max_rows_index = np.argmax(array, axis = 1)

print('Here are the first 5 index values for the minimum value of each row the Iris dataset: {}'.format(min_rows_index[0:5]))
print('And here are the first 5 index values for the maximum value of each row: {}'.format(max_rows_index[0:5]))
print('The length of my arrays are: {} and {}'.format(len(min_rows_index), len(max_rows_index)))

Here are the first 5 index values for the minimum value of each row the Iris dataset: [3 3 3 3 3]
And here are the first 5 index values for the maximum value of each row: [0 0 0 0 0]
The length of my arrays are: 150 and 150

## Question 5
* Use the above two arrays to make a dataframe with 2 columns, the first being the feature of minimum value and the second the feature name of the maximum value
* note, don't have the cell values be the index value of the min/max value, have it be the feature name
    * a row should be [min_val = sepal width (cm), max_val = petal length (cm)]
* show the distributions for max and min features (how many times is each feature the max and min value for a row)

In [222]:
#to reference the name of each feature
feature_names = iris.feature_names

#zip min and max arrays into one list
min_max = list(zip(min_rows_index,max_rows_index))

#create empty dataframe of NaN to replace values in for loop
newDF = pd.DataFrame(np.nan, index=range(150),columns=['min_feature','max_feature'])

In [223]:
idx = -1

#reference row of min_max array
for k in min_max:
    
    #idx holds which row we are working on
    idx += 1
    
    #iterate through columns 0 and 1
    for n in range(0,2):
        
        #holds index that references feature for current min_max value
        #idx is our current row and n is our current column
        i = min_max[idx][n]
        
        #pull feature name via index value, put into a temporary variable
        temp = feature_names[i]
        
        #replace NaN value with name of feature for current row/column
        newDF.iloc[idx,n] = temp

In [224]:
newDF

          min_feature        max_feature
0    petal width (cm)  sepal length (cm)
1    petal width (cm)  sepal length (cm)
2    petal width (cm)  sepal length (cm)
3    petal width (cm)  sepal length (cm)
4    petal width (cm)  sepal length (cm)
..                ...                ...
145  petal width (cm)  sepal length (cm)
146  petal width (cm)  sepal length (cm)
147  petal width (cm)  sepal length (cm)
148  petal width (cm)  sepal length (cm)
149  petal width (cm)  sepal length (cm)

[150 rows x 2 columns]

In [219]:
min_feature_count = np.unique(newDF.min_feature, return_counts = True)
max_feature_count = np.unique(newDF.max_feature, return_counts = True)

print('The feature for the minimum value for all rows is {} and the feature for the maximum value for all rows is {}'.format(min_feature_count[0], max_feature_count[0]))
print('We know this becuase the count of each is {} and {}'.format(min_feature_count[1], max_feature_count[1]))

The feature for the minimum value for all rows is ['petal width (cm)'] and the feature for the maximum value for all rows is ['petal width (cm)']
We know this becuase the count of each is [150] and [150]

## Extra questions  - To think about.
* Describe a situation the functionality from question 4 and 5 could be of use?